<template>
  <v-container fluid class="pa-1">
    <!-- Header Text -->
    <v-progress-circular v-if="$store.state.loading" indeterminate=""></v-progress-circular>
    <div class="mt-3">
      {{ $t("songHeaderText") }} -
      <small class="text--grey">Ephesians 5:19 NIV</small>
    </div>
    <!--// Header Text -->
    <h2 class="ma-3">{{ $t('songList') }}</h2>

    <v-list two-line shaped rounded>
      <v-list-item v-for="(song, i) in songList" :key="i" class="pa-0">
        <v-list-item-action>
          <div>
            <v-btn icon v-if="isPlaying" color="error" @click="stopAudio()">
              <v-icon>mdi-stop-circle</v-icon>
            </v-btn>
            <v-btn icon v-else color="primary" @click="playAudio(song.midiSrc)">
              <v-icon>mdi-play-circle</v-icon>
            </v-btn>
          </div>
        </v-list-item-action>
        <v-list-item-title>{{ song.title }}</v-list-item-title>
      </v-list-item>
    </v-list>
    <!-- <v-bottom-navigation :fixed="isNotPlaying" class="mb-5">
      <v-card tile>
        <v-progress-linear :value="50" class="my-0" height="3"></v-progress-linear>

        <v-list>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>You are great</v-list-item-title>
              <v-list-item-subtitle>Give thanks to God</v-list-item-subtitle>
            </v-list-item-content>

            <div class="flex-grow-1"></div>

            <v-list-item-icon>
              <v-btn icon>
                <v-icon>mdi-rewind</v-icon>
              </v-btn>
            </v-list-item-icon>

            <v-list-item-icon :class="{ 'mx-5': $vuetify.breakpoint.mdAndUp }">
              <v-btn icon>
                <v-icon>mdi-pause</v-icon>
              </v-btn>
            </v-list-item-icon>

            <v-list-item-icon class="ml-0" :class="{ 'mr-3': $vuetify.breakpoint.mdAndUp }">
              <v-btn icon>
                <v-icon>mdi-fast-forward</v-icon>
              </v-btn>
            </v-list-item-icon>
          </v-list-item>
        </v-list>
      </v-card>
    </v-bottom-navigation>-->
  </v-container>
</template>

<script>
let audio = new Audio(null);
window.audio = audio;
export default {
  data() {
    return {
      isPlaying: false,
      songList: []
    };
  },
  methods: {
    stopAudio() {
      audio.pause();
      this.isPlaying = false;
    },
    playAudio(url) {
      this.isPlaying = true;
      audio = new Audio(url);
      audio.play();
    }
  },
  mounted() {
    this.$store.state.title = this.$t("songList");
    this.$axios.get("/songs").then(({ data }) => {
      this.songList = data;
      console.log(data);
    });
  }
};
</script>