<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <meta name="theme-color" content="#0a3c70" />
    <link rel=mask-icon href=/img/icons/safari-pinned-tab.svg color=#0a3c70>
    <meta name="msapplication-TileColor" content="#0a3c70" />
    <title>emmanuel-app</title>
    <style>
      @font-face {
        font-family: "Comfortaa";
        src: url("/Fonts/Comfortaa-Bold.ttf");
        font-weight: bold;
      }
      @font-face {
        font-family: "Comfortaa";
        src: url("/Fonts/Comfortaa-Regular.ttf");
      }
      @font-face {
        font-family: "Comfortaa";
        src: url("/Fonts/Comfortaa-Light.ttf");
      }
      * {
        font-family: "Comfortaa", cursive !important;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but emmanuel-app doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <script src="cordova.js"></script>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
