<template>
  <div class="about text-left">
    <v-list shaped rounded color="transparent">
      <v-subheader>CATEGORIES</v-subheader>
      <v-list-item
        class="mb-2"
        style="background:var(-v-secondary-lighten5)"
        v-for="(item, i) in items"
        :key="i"
      >
        <!-- <v-list-item-icon>
          <v-icon v-text="item.icon"></v-icon>
        </v-list-item-icon>-->
        <v-list-item-content>
          <v-list-item-title v-text="item.text"></v-list-item-title>
          <v-list-item-subtitle v-text="item.subText"></v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </div>
</template>

<script>
export default {
  data() {
    return {
      item: 1,
      items: [
        {
          subText: "A christain Television network",
          text: "Emmanuel TV",
          icon: "mdi-account"
        },
        {
          subText: "The Synagogue church of all nations",
          text: "The Scoan",
          icon: "mdi-flower"
        },
        {
          subText: "General Overseer",
          text: "Prophet T.B Joshua",
          icon: "mdi-basketball"
        },
        {
          subText: "God can use any medium to express himself",
          text: "Morning Water",
          icon: "mdi-basketball"
        }
      ]
    };
  },
  mounted() {
    this.$store.state.title = this.$t("aboutUs");
  }
};
</script>