<template>
  <div></div>
</template>

<script>
export default {
  title: "Bible",
  mounted() {
    this.$store.state.title = this.$t("bible");
    cordova.InAppBrowser.open("http://m.worldbibles.org", "_blank");
    this.$router.back();
  }
};
</script>
