<template>
    <v-container class="text-left pa-2 mx-2">
        <div class="pa-0" rounded shaped>
            <v-list-item :key="i" @click="returnFunction(contact.action)" v-for="(contact, i) in contact">
                <v-list-item-icon>
                    <v-icon>{{ contact.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-title class="float-left text-left">{{ contact.text }}</v-list-item-title>
            </v-list-item>
        </div>
        <br/>
        <h3>{{ $t("prayerAndCounseling") }}</h3>

        <v-list-item :key="phone" v-for="phone in prayerLines" @click="openDailer(phone)">
            <v-list-item-icon>
                <v-icon>mdi-phone</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="float-left text-left">
                {{phone}}
            </v-list-item-title>
        </v-list-item>

        <h3 class="mt-4">{{ $t("testimonyLines") }}</h3>
        <v-list-item :key="phone" v-for="phone in testimonyLines" @click="openDailer(phone)">
            <v-list-item-icon>
                <v-icon>mdi-phone</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="float-left text-left">
                {{phone}}
            </v-list-item-title>
        </v-list-item>

        <h3 class="mt-4">{{ $t("informationLines") }}</h3>
        <v-list-item :key="phone" v-for="phone in infoLines" @click="openDailer(phone)">
            <v-list-item-icon>
                <v-icon>mdi-phone</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="float-left text-left">
                {{phone}}
            </v-list-item-title>
        </v-list-item>

        <h3 class="mt-4">{{ $t("partnershipLines") }}</h3>
        <v-list-item :key="phone" v-for="phone in partenershipLines" @click="openDailer(phone)">
            <v-list-item-icon>
                <v-icon>mdi-phone</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="float-left text-left">
                {{phone}}
            </v-list-item-title>
        </v-list-item>

        <h3 class="mt-4">{{ $t("visitLines") }}</h3>
        <v-list-item :key="phone" v-for="phone in visitLines" @click="openDailer(phone)">
            <v-list-item-icon>
                <v-icon>mdi-phone</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="float-left text-left">
                {{phone}}
            </v-list-item-title>
        </v-list-item>

        <h3 class="mt-4">Français</h3>
        <v-list-item @click="openDailer('+2348087492208')">
            <v-list-item-icon>
                <v-icon>mdi-phone</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="float-left text-left">
                +234 808 749 2208
            </v-list-item-title>
        </v-list-item>

        <h3 class="mt-4">Español</h3>
        <v-list-item @click="openDailer('+2348125283478')">
            <v-list-item-icon>
                <v-icon>mdi-phone</v-icon>
            </v-list-item-icon>
            <v-list-item-title class="float-left text-left">
                +234 (0) 812 528 3478
            </v-list-item-title>
        </v-list-item>
        <br/>
    </v-container>
</template>

<script>
    export default {
        mounted() {
            this.$store.state.title = this.$t("contactUs");
        },
        data() {
            return {
                contact: [
                    {
                        icon: "mdi-google-maps",
                        text: "Synagogue Bus Stop, Lagos Nigeria",
                        to: "",
                        action: 'showMap'
                    },
                    {icon: "mdi-email", text: "info@emmanuel.tv", to: "", action: 'openMail1'},
                    {icon: "mdi-email", text: "info@scoan.org", to: "", action: 'openMail2'},
                    {icon: "mdi-web", text: "www.emmanuel.tv", to: "", action: 'openSite1'},
                    {icon: "mdi-web", text: "www.scoan.org", to: "", action: 'openSite2'}
                ],
                prayerLines: [
                    "+234-807-254-6496",
                    "+234-808-809-6917",
                    "+234-808-749-2279",
                    "+234-803-373-0663",
                    "+234-1-898-5507",
                    "+234-703-126-5599",
                    "+234-703-130-7311",
                    "+234-703-861-6677",
                    "+234-808-749-2221",
                    "+234-807-676-7359",
                    "+234-808-749-2226",
                    "+234-803-373-0650",
                    "+234-703-126-5046",
                    "+234-803-414-7340"
                ],
                testimonyLines: ["+234-708-697-7000", "+234-812-027-1044"],
                infoLines: ["+234-807-767-9597", "+234-808-080-0044"],
                partenershipLines: ["+234-703-305-6206", "+234-703-126-5665"],
                visitLines: ["0-706-486-5517", "0-705-807-9083", "0-805-375-0556"]
            };
        },
        methods: {
            returnFunction(name) {
                if (!name) return;
                return this[name] ? this[name]() : (() => {
                })()
            },
            showMap() {
                cordova.InAppBrowser.open('https://goo.gl/maps/Bf2C7VTEAsAZc8779');
            },
            openMail1() {
                return document.location.href = 'mailto:info@emmanuel.tv'
            },
            openMail2() {
                return document.location.href = 'mailto:info@scoan.org'
            },
            openSite1() {
                cordova.InAppBrowser.open('https://emmanuel.tv');
            },
            openSite2() {
                cordova.InAppBrowser.open('https://www.scoan.org');
            },
            openDailer(p){
                return document.location.href = `tel:${p}`
            }
        }
    };
</script>
