<template>
  <div></div>
</template>

<script type="text/javascript">
export default {
  mounted() {
    cordova.InAppBrowser.open(
      "https://emmanuel.tv/partnership/info",
      "_system"
    );
    this.$router.back();
  }
};
</script>