<template>
  <v-container grid-list-md style="overflow: hidden">
    <div class="bg"></div>
    <div class="cancel-blur">
      <h2
        class="text--accent-1 font-weight-bold text-uppercase lead px-3"
        style="margin:25px 0"
      >
        <v-img src="/img/logo.png"></v-img>
      </h2>
      <div class="contain">
        <div class="element" :key="i" v-for="(card, i) in cards">
          <div class="card-box text-center" @click="$router.push(card.to)">
            <v-img
              :src="`/img/${card.icon}.svg`"
              class="img"
              position="top"
            ></v-img>
            <div class="text">{{ card.title }}</div>
          </div>
        </div>
      </div>
    </div>
  </v-container>
</template>

<script>
// @ is an alias to /src
export default {
  name: "Home",
  layout: "blank",
  mounted() {
    this.$store.state.title = this.$t("home");
  },
  data() {
    return {
      cards: [
        {
          title: "Emmanuel TV",
          icon: "live",
          to: "/watch-live"
        },
        {
          title: this.$t("bible"),
          icon: "bible",
          to: "/bible"
        },
        {
          title: this.$t("singers"),
          icon: "play",
          to: "/edify/songs"
        },
        {
          title: this.$t("testimony"),
          icon: "mic",
          to: "/testimony"
        },
        {
          title: this.$t("prayerRequest"),
          icon: "pray",
          to: "/prayer-request"
        },
        {
          title: this.$t("parntnership"),
          icon: "love",
          to: "/donate"
        }
      ]
    };
  }
};
</script>

<style scoped>
#noisedot {
  position: absolute;
  background: black;
  z-index: 1 !important;
}
.card-box {
  padding: 10px;
  margin: 10px;
}

.card-box .img {
  transform: scale(0.5);
  margin: -20px auto;
}

.card-box .text {
  letter-spacing: 2px;
  text-transform: uppercase;
}
.bg {
  background: linear-gradient(
      rgba(241, 241, 241, 0.68) rgba(238, 238, 238, 0.85)
    ),
    url(/img/img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: lighten;
  background-clip: content-box;
  background-position: center;
  filter: blur(20px) grayscale(10%) opacity(90%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*z-index: 1;*/
}
.lead {
  color: rgba(10, 10, 10, 0.5) !important;
}
.cancel-blur {
  filter: blur(0) !important;
  /*z-index: 20;*/
}
.contain {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.contain .element {
  flex: 1 1 45%;
  width: 45vw;
  max-width: 45vw;
}
.contain .element.full {
  flex: 1;
  width: 100vw;
  max-width: 100vw;
}
</style>
