<template>
  <div>
    <object
      data="https://thepentecost.herokuapp.com/#/tongues"
      width="100%"
      height="1000"
      type="text/html"
    ></object>
    <!-- <iframe height="1000" width="100%" src="https://pentecust.herokuapp.com/#/tongues"></iframe> -->
  </div>
</template>

<script>
export default {
  title: "Translation"
};
</script>