<template>
  <div>
    <v-container>
      <v-form>
        <p class="primary--text text--primary">{{ $t("prayerRequestText")}}</p>
        <v-text-field
          v-model="fullName"
          :rules="requiredRules"
          outlined
          name="fullname"
          :label="$t('fullName')"
        ></v-text-field>
        <v-select
          v-model="country"
          :items="countryList"
          :rules="requiredRules"
          outlined
          :label="$t('country')"
        ></v-select>
        <v-text-field
          v-model="email"
          :rules="requiredRules"
          outlined
          name="email"
          :label="$t('emailAddress')"
        ></v-text-field>

        <v-text-field
          :rules="requiredRules"
          outlined
          name="phone"
          type="phone"
          v-model="phone"
          :label="$t('phone')"
        ></v-text-field>
        <v-textarea
          :rules="requiredRules"
          v-model="prayerRequest"
          outlined
          name="info"
          :label="$t('tellUsYourPrayerRequest')"
        ></v-textarea>
        <v-btn color="primary" @click="sendPrayerRequest" rounded width="200">{{ $t('submit') }}</v-btn>
      </v-form>
    </v-container>
  </div>
</template>

<script>
export default {
  mounted() {
    this.$store.state.title = this.$t("prayerRequest");
  },
  data() {
    return {
      email: "",
      fullName: "",
      country: "",
      phone: "",
      prayerRequest: "",
      requiredRules: [v => !!v || this.$t("requiredField")]
    };
  },
  methods: {
    async sendPrayerRequest() {
      let subject = encodeURIComponent("Prayer Request");
      let compose = `
Email: ${this.email}
FullName: ${this.fullName}
Country: ${this.country}
Phone: ${this.phone}
---------------------------
Prayer Request:
${this.prayerRequest}
  `;
      compose = encodeURIComponent(compose);
      /*
      let requestUrl = `https://mail.google.com/mail/u/0/?view=cm&to=${to}&su=${subject}&body=${compose}&ui=2&tf=1`;
      cordova.InAppBrowser.open(requestUrl, "_system");
      */

      return document.location.href = `mailto:info@scoan.org,info@emmanuel.tv?subject=${subject}&body=${compose}`
    }
  }
};
</script>
