<template>
    <div class="flex-grow-1 flex">
        <div class="home cancel-blur flex flex-grow-1">
            <div style="position: fixed!important; width: 100%; z-index: 3">
                <iframe
                        allowfullscreen
                        frameborder="0"
                        height="300px"
                        id="ls_embed_1570364591"
                        scrolling="no"
                        src="https://livestream.com/accounts/23202872/events/7200883/player?width=640&height=360&enableInfoAndActivity=true&defaultDrawer=&autoPlay=true&mute=false"
                        width="100%"
                ></iframe>
            </div>
            <div style="width: 100%; height: 300px;z-index: 0; background: black">
                <div style="width: 100%; margin: 120px auto">
                    <v-progress-circular
                            :size="50"
                            style="z-index: 1"
                            color="white"
                            indeterminate
                    ></v-progress-circular>
                </div>
            </div>
            <div class="subtitles">
                <v-container v-if="translationStash.length < 1">
                    <h3 class="text-uppercase">emmanuel TV - {{ $t("watchLive") }}</h3>
                    {{ $t('indexTitle') }}
                </v-container>

                <transition-group class="subtitle-container" name="list" tag="div">
                    <div :key="t.id" :style="returnStyle(index)" class="mt-4 beautify transition"
                        v-for="(t, index) in translationStash">
                        {{ t.word }}
                    </div>
                </transition-group>
            </div>
        </div>
    </div>
</template>

<script>
    // @ is an alias to /src
    export default {
        name: "home",
        data() {
            return {
                translationStash:[],
                langMap: {
                    en: 19,
                    de: 20,
                    es: 21,
                    fr: 22,
                    it: 23,
                    nl: 27,
                    pl: 24,
                    pt: 25,
                    ru: 26
                }
            }
        },
        methods: {
            returnStyle(index) {
                return index === 0 ? "color: #ffffff; font-weight: bolder; font-size: large; padding: 15px 15px;" : 'color: #eaeae9; padding: 5px 15px;'
            }
        },
        mounted() {
            const that = this;
            that.$store.state.title = this.$t("watchLive");

            that.$io.on("rotciv", data => {

                const trans = {word: data.nativeWord, id: Math.random().toString(36)};
                that.translationStash.unshift(trans);
            });

            const langID = that.langMap[window.localStorage.locale] || that.langMap['en'];

            that.$io.get(
                `/channel/subscribe/?id=${langID}`,
                (body, jwt) => {
                    if (jwt.statusCode == 404) {
                        console.log(`error`, jwt);
                    } else {
                        // console.log(body)
                    }
                }
            );
        }
    };
</script>

<style>
    #noisedot {
        position: absoulte;
        background: black;
        z-index: 1 !important;
    }
    .v-content__wrap {
        display: flex;
    }
    .home {
        display: flex;
        flex-direction: column;
    }
    .subtitles {
        background: rgba(21, 21, 21, 0.33);
        flex: 1;
    }
    .cancel-blur {
        display: flex;
        flex: 1;
    }
    .flex {
        display: flex !important;
    }
    .subtitles{
        color: white;
    }

    .v-application .mt-4 {
        margin: 0 !important;
    }

    .beautify {
        transition: all 200ms ease;
    }

    .list-enter-active,
    .list-leave-active,
    .list-move {
        transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
        transition-property: opacity, transform;
    }

    .list-enter {
        opacity: 0;
        transform: translateX(50px) scaleY(0.5);
    }

    .list-enter-to {
        opacity: 1;
        transform: translateX(0) scaleY(1);
    }

    .list-leave-active {
        position: absolute;
    }

    .list-leave-to {
        opacity: 0;
        transform: scaleY(0);
        transform-origin: center top;
    }
</style>
