<template>
  <div class="text-left">
    <v-text-field
      class="mt-5"
      label="Search for a language"
      autofocus
      clearable
      outlined
      light
      :append-icon="!searchTerm ? 'mdi-magnify' : false"
      v-model="searchTerm"
    ></v-text-field>

    <v-list shaped rounded color="transparent">
      <v-list-item
        class="mb-1"
        style="background:#c1c1c121"
        v-for="language in enlisted"
        :key="language.value"
        @click="setLocale(language.value), $emit('close', true)"
      >
        <v-list-item-title>{{ language.text }}</v-list-item-title>
      </v-list-item>
    </v-list>
    <!-- <v-select
      @change="setLocale(language), $emit('close', true)"
      :items="languages"
      v-model="language"
      label="Select a language"
      outlined
    ></v-select>-->
  </div>
</template>

<script>
export default {
  data() {
    return {
      searchTerm: "",
      languages: [
        { text: "English", value: "en" },
        { text: "Français", value: "fr" },
        { text: "Español", value: "es" },
        { text: "Albanian", value: "sq" },
        { text: "Afrikaans", value: "af" },
        { text: "Amharic", value: "am" },
        { text: "Arabic", value: "ar" },
        { text: "Armenian", value: "hy" },
        { text: "Azerbaijani", value: "az" },
        { text: "Basque", value: "eu" },
        { text: "Belarusian", value: "be" },
        { text: "Bengali", value: "bn" },
        { text: "Bosnian", value: "bs" },
        { text: "Bulgarian", value: "bg" },
        { text: "Catalan", value: "ca" },
        // { text: "Cebuano", value: "ceb" },
        { text: "Chinese", value: "zh" },
        { text: "Corsican", value: "co" },
        { text: "Croatian", value: "hr" },
        { text: "Czech", value: "cs" },
        { text: "Danish", value: "da" },
        { text: "Dutch", value: "nl" },
        { text: "Esperanto", value: "eo" },
        { text: "Estonian", value: "et" },
        { text: "Finnish", value: "fi" },
        { text: "Frisian", value: "fy" },
        { text: "Galician", value: "gl" },
        { text: "Georgian", value: "ka" },
        { text: "German", value: "de" },
        { text: "Greek", value: "el" },
        { text: "Gujarati", value: "gu" },
        { text: "Haitian", value: "ht" },
        { text: "Hausa", value: "ha" },
        { text: "Hebrew", value: "he" },
        { text: "Hindi", value: "hi" },
        { text: "Hungarian", value: "hu" },
        { text: "Icelandic", value: "is" },
        { text: "Igbo", value: "ig" },
        { text: "Indonesian", value: "id" },
        { text: "Irish", value: "ga" },
        { text: "Italian", value: "it" },
        { text: "Japanese", value: "ja" },
        { text: "Kannada", value: "kn" },
        { text: "Kazakh", value: "kk" },
        { text: "Khmer", value: "km" },
        { text: "Korean", value: "ko" },
        { text: "Kurdish", value: "ku" },
        { text: "Kyrgyz", value: "ky" },
        { text: "Lao", value: "lo" },
        { text: "Latin", value: "la" },
        { text: "Latvian", value: "lv" },
        { text: "Lithuanian", value: "lt" },
        { text: "Luxembourgish", value: "lb" },
        { text: "Macedonian", value: "mk" },
        { text: "Malagasy", value: "mg" },
        { text: "Malay", value: "ms" },
        { text: "Malayalam", value: "ml" },
        { text: "Maltese", value: "mt" },
        { text: "Maori", value: "mi" },
        { text: "Marathi", value: "mr" },
        { text: "Mongolian", value: "mn" },
        { text: "Myanmar", value: "	m" },
        { text: "Nepali", value: "ne" },
        { text: "Norwegian", value: "no" },
        { text: "Nyanja", value: "ny" },
        { text: "Pashto", value: "ps" },
        { text: "Persian", value: "fa" },
        { text: "Polish", value: "pl" },
        { text: "Portuguese", value: "pt" },
        { text: "Punjabi", value: "pa" },
        { text: "Romanian", value: "ro" },
        { text: "Russian", value: "ru" },
        { text: "Samoan", value: "sm" },
        { text: "Scots", value: "	g" },
        { text: "Serbian", value: "sr" },
        { text: "Sesotho", value: "st" },
        { text: "Shona", value: "sn" },
        { text: "Sindhi", value: "sd" },
        { text: "Sinhala", value: "	s" },
        { text: "Slovak", value: "sk" },
        { text: "Slovenian", value: "sl" },
        { text: "Somali", value: "so" },
        { text: "Sundanese", value: "su" },
        { text: "Swahili", value: "sw" },
        { text: "Swedish", value: "sv" },
        { text: "Tagalog", value: "	t" },
        { text: "Tajik", value: "tg" },
        { text: "Tamil", value: "ta" },
        { text: "Telugu", value: "te" },
        { text: "Thai", value: "th" },
        { text: "Turkish", value: "tr" },
        { text: "Ukrainian", value: "uk" },
        { text: "Urdu", value: "ur" },
        { text: "Uzbek", value: "uz" },
        { text: "Vietnamese", value: "vi" },
        { text: "Welsh", value: "cy" },
        { text: "Xhosa", value: "xh" },
        { text: "Yiddish", value: "yi" },
        { text: "Yoruba", value: "yo" },
        { text: "Zulu", value: "zu" }
      ].sort()
    };
  },
  computed: {
    enlisted() {
      if (!this.searchTerm) return this.languages;
      const re = RegExp(this.searchTerm, "i");
      return this.languages.filter(lang => re.test(lang.text));
    }
  }
};
</script>
