<template>
    <v-app id="inspire">
        <v-content>
            <v-alert type="error" v-if="$store.state.error || isOffline">
                {{ $t('networkLost') }}
                <br/>
                <br/>
                <v-btn
                        @click="$store.state.error = false, $router.go()"
                        color="error darken-2"
                        rounded
                >{{ $t("reconnect") }}
                </v-btn>
            </v-alert>
            <v-dialog fullscreen v-model="dialog">
                <v-card>
                    <div class="pa-4">
                        <h4>{{ $t('selectLanguage') }}</h4>
                        <Languages @close="dialog = false"></Languages>
                    </div>
                </v-card>
            </v-dialog>
            <router-view></router-view>
        </v-content>
    </v-app>
</template>

<script>
    import Languages from "@/components/Languages";
    export default {
        components: {
            Languages
        },
        computed: {
            isOffline() {
                return window.navigator.onLine !== true;
            },
            isPageLanguageAvailable() {
                console.log(JSON.parse(localStorage.getItem("isPageLanguageAvailable")));
                return JSON.parse(localStorage.getItem("isPageLanguageAvailable"));
            },
            items() {
                return [
                    { to: "/", icon: "mdi-home", text: this.$t("home") },
                    {
                        to: "/watch-live",
                        icon: "mdi-television-classic",
                        text: this.$t("watchLive")
                    },
                    // {
                    //   to: "/pentecost",
                    //   icon: "mdi-google-translate",
                    //   text:
                    //     this.$t("translation") +
                    //     ' <small style="color:red;float:right">Beta</small>'
                    // },
                    {
                        to: "/prayer-request",
                        icon: "mdi-hand",
                        text: this.$t("prayerRequest")
                    },
                    {
                        to: "/testimony",
                        icon: "mdi-microphone-variant",
                        text: this.$t("testimony")
                    },
                    {
                        to: "",
                        icon: "mdi-shield-cross-outline",
                        "icon-alt": "mdi-shield-cross",
                        text: this.$t("edify"),
                        model: false,
                        children: [
                            { to: "/bible", icon: "mdi-bible", text: this.$t("bible") },
                            // { to: "", icon: "mdi-church", text: this.$t("meditation") },
                            {
                                to: "/edify/songs",
                                icon: "mdi-voice",
                                text: this.$t("singers")
                            }
                        ]
                    },

                    {
                        to: "",
                        icon: "mdi-library-video",
                        "icon-alt": "mdi-library-video",
                        text: this.$t("media"),
                        model: false,
                        children: [
                            { to: "/media/twitter", icon: "mdi-twitter", text: "Twitter" },
                            { to: "/media/facebook", icon: "mdi-facebook", text: "Facebook" },
                            { to: "/media/youtube", icon: "mdi-youtube", text: "Youtube" },
                            {
                                to: "/media/instagram",
                                icon: "mdi-instagram",
                                text: "Instagram"
                            },
                            { to: "/media/blog", icon: "mdi-wordpress", text: "Blogs" }
                        ]
                    },
                    {
                        to: "/donate",
                        icon: "mdi-heart-multiple",
                        text: this.$t("parntnership")
                    },
                    {
                        to: "/contact",
                        icon: "mdi-information-outline",
                        text: this.$t("contactUs")
                    },
                    { to: "/about", icon: "mdi-information", text: this.$t("aboutUs") }
                ];
            }
        },
        mounted() {
            if (!window.localStorage.getItem("locale")) {
                this.dialog = true;
            }
        },
        data(){
            return {
                dialog: false,
                drawer: null
            }
        }
    };
</script>
