<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
      <template v-slot:prepend>
        <div class="tinted-image">
          <h2 class="white--text texty">Emmanuel TV</h2>
        </div>
      </template>

      <v-list shaped class="text-left">
        <template v-for="item in items">
          <v-row v-if="item.heading" :key="item.heading" align="center">
            <v-col cols="6">
              <v-subheader v-if="item.heading">{{ item.heading }}</v-subheader>
            </v-col>
            <v-col cols="6" class="text-censter">
              <a href="#!" class="body-2 black--text">EDIT</a>
            </v-col>
          </v-row>
          <v-list-group
            v-else-if="item.children"
            :key="item.text"
            v-model="item.model"
            :prepend-icon="item.model ? item.icon : item['icon-alt']"
            append-icon
          >
            <template v-slot:activator>
              <v-list-item shaped rounded>
                <v-list-item-content>
                  <v-list-item-title>{{ item.text }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
            <v-list-item
              class="ml-8"
              shaped
              rounded
              v-for="(child, i) in item.children"
              :key="i"
              :to="child.to"
            >
              <v-list-item-action v-if="child.icon">
                <v-icon>{{ child.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>{{ child.text }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
          <v-list-item v-else shaped rounded :key="item.text" :to="item.to">
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title v-html="item.text"></v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>

        <v-list-item @click="dialog = true">
          <v-list-item-action>
            <v-icon>mdi-google-translate</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{ $t('selectLanguage') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="primary" dark>
      <v-toolbar-title>
        <!-- v-if="$route.name === 'index'"  -->
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <!-- <v-btn icon v-else @click="$router.back()">
          <v-icon>mdi-arrow-left</v-icon>
        </v-btn>-->
        <span>{{ $store.state.title }}</span>
      </v-toolbar-title>
      <v-text-field
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="mdi-magnify"
        label="Search"
        class="hidden-sm-and-down ml-5"
      ></v-text-field>
      <div class="flex-grow-1"></div>
      <!-- <v-menu bottom left>
        <template v-slot:activator="{ on }">
          <v-badge color="error" right overlap>
            <template v-slot:badge>3</template>

            <v-btn dark icon v-on="on">
              <v-icon>mdi-bell</v-icon>
            </v-btn>
          </v-badge>
        </template>
        <v-card class="text-left">
          <v-card-text>
            <h3>Notifications</h3>
          </v-card-text>
          <v-list>
            <v-divider></v-divider>
            <v-list-item v-for="(noti, i) in notifications" :key="i">
              <v-list-item-content>
                <v-list-item-title>{{ noti.title }}</v-list-item-title>
                <v-list-item-subtitle>{{ noti.subTitle }}</v-list-item-subtitle>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-menu>-->
    </v-app-bar>

    <v-content style="display: flex;">
      <v-alert :dense="true" style="z-index: 2; font-size: smaller" class="mb-0" v-if="$store.state.error || isOffline" type="error">
        {{ $t('networkLost') }}
        <br/>
        <v-btn
          rounded
          small
          @click="$store.state.error = false, $router.go()"
          color="error darken-2"
        >{{ $t("reconnect") }}</v-btn>
      </v-alert>

      <v-dialog fullscreen v-model="dialog">
        <v-card>
          <div class="pa-4">
            <h4>{{ $t('selectLanguage') }}</h4>
            <Languages @close="dialog = false"></Languages>
          </div>
        </v-card>
      </v-dialog>
      <div class="bg"></div>
      <div class="cancel-blur">
        <router-view></router-view>
      </div>
    </v-content>
  </v-app>
</template>

<script>
import Languages from "@/components/Languages";
export default {
  components: {
    Languages
  },
  props: {
    source: String
  },

  computed: {
    isOffline() {
      return window.navigator.onLine !== !false;
    },
    isPageLanguageAvailable() {
      console.log(JSON.parse(localStorage.getItem("isPageLanguageAvailable")));
      return JSON.parse(localStorage.getItem("isPageLanguageAvailable"));
    },
    items() {
      return [
        // { to: "/", icon: "mdi-home", text: this.$t("home") },
        {
          to: "/watch-live",
          icon: "mdi-television-classic",
          text: this.$t("watchLive")
        },
        // {
        //   to: "/pentecost",
        //   icon: "mdi-google-translate",
        //   text:
        //     this.$t("translation") +
        //     ' <small style="color:red;float:right">Beta</small>'
        // },
        {
          to: "/prayer-request",
          icon: "mdi-hand",
          text: this.$t("prayerRequest")
        },
        {
          to: "/testimony",
          icon: "mdi-microphone-variant",
          text: this.$t("testimony")
        },
        {
          to: "",
          icon: "mdi-shield-cross-outline",
          "icon-alt": "mdi-shield-cross",
          text: this.$t("edify"),
          model: false,
          children: [
            { to: "/bible", icon: "mdi-bible", text: this.$t("bible") },
            // { to: "", icon: "mdi-church", text: this.$t("meditation") },
            {
              to: "/edify/songs",
              icon: "mdi-voice",
              text: this.$t("singers")
            }
          ]
        },

        {
          to: "",
          icon: "mdi-library-video",
          "icon-alt": "mdi-library-video",
          text: this.$t("media"),
          model: false,
          children: [
            { to: "/media/twitter", icon: "mdi-twitter", text: "Twitter" },
            { to: "/media/facebook", icon: "mdi-facebook", text: "Facebook" },
            { to: "/media/youtube", icon: "mdi-youtube", text: "Youtube" },
            {
              to: "/media/instagram",
              icon: "mdi-instagram",
              text: "Instagram"
            },
            { to: "/media/blog", icon: "mdi-wordpress", text: "Blogs" }
          ]
        },
        {
          to: "/donate",
          icon: "mdi-heart-multiple",
          text: this.$t("parntnership")
        },
        {
          to: "/contact",
          icon: "mdi-information-outline",
          text: this.$t("contactUs")
        },
        { to: "/about", icon: "mdi-information", text: this.$t("aboutUs") }
      ];
    }
  },
  mounted() {
    if (!window.localStorage.getItem("locale")) {
      this.dialog = true;
    }
  },
  data: () => ({
    dialog: false,
    notifications: [
      {
        title: "Live Sunday Service",
        subTitle: "Broadcast begins in 5 minutes",
        icon: "",
        to: ""
      },
      {
        title: "Living Water Service",
        subTitle: "3 days to the next living water service",
        icon: "",
        to: ""
      },
      {
        title: "TB Joshua Sermon",
        subTitle: "Love is the greatest!",
        icon: "",
        to: ""
      }
    ],
    drawer: null
  })
};
</script>

<style>
.v-badge--overlap .v-badge__badge {
  top: -1px !important;
  right: 4px !important;
}
.graient {
  background-image: linear-gradient(
    to right top,
    /* #2f4976,
    #0e3d6f, */ #0f4173,
    #5980bb /* #0a3c70 */
  ) !important;
}
.v-content__wrap{
  flex-direction: column;
}
.testclass {
  background-image: url(/img/img.jpg);
  position: relative;
}
.testclass:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.tinted-image {
  width: 300px;
  height: 200px;
  position: relative;
  /* filter: grayscale(0.8) blur(0.6px); */

  background:
    /* top, transparent red */ linear-gradient(
      rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.9)
    ),
    /* bottom, image */ url(/img/about-us-pic.jpg);
}
.tinted-image .texty {
  position: absolute;
  margin: 0 auto;
  bottom: 1rem;
  left: 1rem;
}
.bg{
  background: linear-gradient(
          rgba(241, 241, 241, 0.68) rgba(238, 238, 238, 0.85)
  ),url(/img/img.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: lighten;
  background-clip: content-box;
  background-position: center;
  filter: blur(20px) grayscale(10%) opacity(90%) ;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*z-index: 1;*/
}
.cancel-blur{
  filter: blur(0) !important;
  display: flex;
  flex-direction: column;
  /*z-index: 20;*/
}
</style>
