<template>
    <div>
        <!--
        <iframe
                frameborder="0"
                height="500"
                id="iframer"
                src="https://www.scoan.org/blog/"
                width="100%"
        ></iframe>
        -->
    </div>
</template>

<script>
    export default {
        data() {
            return {
                blogContent: ""
            };
        },
        mounted() {
            cordova.InAppBrowser.open("http://m.worldbibles.org");
            this.$router.back();

            /*
            this.$axios.get("https://www.scoan.org/blog/").then(({data}) => {
                console.log(data);
                this.blogContent = data;
            });
            */
        }
    };
</script>

<style>
    .entry-summary {
        display: none !important;
    }
</style>
