<template>
    <div>
        <div
                :data-href="dataHref"
                class="fb-page"
                data-adapt-container-width="true"
                data-height
                data-hide-cover="false"
                data-show-facepile="true"
                data-small-header="false"
                data-tabs="timeline"
                data-width
        >
            <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/facebook">Facebook</a>
            </blockquote>
        </div>
        <div class="loader-container">
            <v-progress-circular
                    :size="50"
                    class="loader"
                    color="primary"
                    indeterminate
                    style="z-index: 1"
            ></v-progress-circular>
        </div>
        <div id="fb-root"></div>
        <div id="loadFbScript"></div>
    </div>
</template>
<script>
    export default {
        data() {
            return {};
        },

        computed: {
            isPageLanguageAvailable() {
                console.log(JSON.parse(localStorage.getItem("isPageLanguageAvailable")));
                return JSON.parse(localStorage.getItem("isPageLanguageAvailable"));
            },

            dataHref() {
                let userLocale = this.$i18n.locale;

                // Dictionaries
                let pageHref = {
                    en: "tbjministries",
                    ar: "tbjministriesar",
                    fr: "tbjministriesFR",
                    es: "tbjoshuaespanol"
                };

                // Check if the facebooks page exist in the users locale
                let pageUrl =
                    typeof pageHref[userLocale] !== "undefined" &&
                    pageHref[userLocale] !== undefined
                        ? pageHref[userLocale] // Pass it in
                        : pageHref["en"]; // default to `en` if not in existence

                // Tip handler if language is notfound in the users locale
                pageHref[userLocale]
                    ? localStorage.setItem("isPageLanguageAvailable", true)
                    : localStorage.setItem("isPageLanguageAvailable", false);

                // All done.
                let host = `https://www.facebook.com/${pageUrl}`;
                return host;
            }
        },
        created() {
            this.$store.state.title = this.$t("media");
            this.$nextTick(() => {
                let fbScript = document.createElement("script");
                fbScript.async = true;
                fbScript.defer = true;
                fbScript.crossOrigin = "anonymous";
                fbScript.src =
                    "https://connect.facebook.net/" +
                    this.getLocale("fb") +
                    "/sdk.js#xfbml=1&version=v4.0&appId=434062037393274&autoLogAppEvents=1";
                document.querySelector("#loadFbScript").appendChild(fbScript);
            });
        },
        beforeRouteLeave(_to, _from, next) {
            var elem = (document.querySelector("#loadFbScript").innerHTML = "");
            next();
        }
    };
</script>
<style scoped>
    .loader-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    .hide {
        display: none;
        animation-name: hide;
        animation-direction: normal;
        animation-duration: 500ms;
        animation-iteration-count: 1;
        animation-timing-function: ease;
    }

    .loader {
        margin-top: calc(100vh / 3);
    }

    @keyframes hide {
        from {
            opacity: 1;
            transform: scale(1)
        }
        to {
            opacity: 0;
            transform: scale(0.7)
        }
    }
</style>
