<template>
  <div id="instag">
    <div class="elfsight-app-0a9f1fd2-9e2f-49b8-8fae-ff05248fd934"></div>
    <div class="loader-container">
      <v-progress-circular
              :size="50"
              class="loader"
              color="primary"
              indeterminate
              style="z-index: 1"
      ></v-progress-circular>
    </div>
  </div>
</template>

<script>
export default {
  mounted() {
    let instaScr = document.createElement("script");
    instaScr.async = true;
    instaScr.defer = true;
    instaScr.charset = "utf-8";
    instaScr.src = "https://apps.elfsight.com/p/platform.js";
    document.querySelector("#instag").appendChild(instaScr);
  }
};
</script>
<style scoped>
  .loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  .hide {
    display: none;
    animation-name: hide;
    animation-direction: normal;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }

  .loader {
    margin-top: calc(100vh / 3);
  }

  @keyframes hide {
    from {
      opacity: 1;
      transform: scale(1)
    }
    to {
      opacity: 0;
      transform: scale(0.7)
    }
  }
</style>
