<template>
    <div id="loadtwScript">
        <a :href="dataHref" class="twitter-timeline"></a>
        <div class="loader-container" >
            <v-progress-circular
                    :size="50"
                    class="loader"
                    color="primary"
                    indeterminate
                    style="z-index: 1"
            ></v-progress-circular>
        </div>
    </div>
</template>
<script>
    export default {
        computed: {
            dataHref() {
                let userLocale = this.$i18n.locale;

                // Dictionaries
                let pageHref = {
                    en: "SCOANTBJoshua",
                    fr: "TBJoshua_FR",
                    es: "tbjoshuaespanol",
                    me: "tbjoshuaenmexico2015"
                };

                // Check if the twitter page exist in the users locale
                let pageUrl =
                    typeof pageHref[userLocale] !== "undefined" &&
                    pageHref[userLocale] !== undefined
                        ? pageHref[userLocale] // Pass it in
                        : pageHref["en"]; // default to `en` if not in existence

                // All done.
                let host = `//twitter.com/${pageUrl}?ref_src=twsrc%5Etfw`;
                return host;
            }
        },
        created() {
            const that = this;
            that.$store.state.title = that.$t("media");
            that.$nextTick(() => {
                let twScript = document.createElement("script");
                twScript.async = true;
                //   twScript.defer = true;
                //   twScript.crossOrigin = "anonymous";
                twScript.charset = "utf-8";
                twScript.src = "https://platform.twitter.com/widgets.js";
                document.body.appendChild(twScript);
            });
        }
    };
</script>

<style scoped>
    .loader-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -1;
    }

    .loader {
        margin-top: calc(100vh / 3);
    }

    @keyframes hide {
        from {
            opacity: 1;
            transform: scale(1)
        }
        to {
            opacity: 0;
            transform: scale(0.7)
        }
    }
</style>
