<template>
  <div id="ytube">
    <div class="elfsight-app-5237b2aa-5876-43ef-8455-464843d21062"></div>
    <div class="loader-container">
      <v-progress-circular
              :size="50"
              class="loader"
              color="primary"
              indeterminate
              style="z-index: 1"
      ></v-progress-circular>
    </div>
  </div>
</template>
<script>
export default {
  mounted() {
    console.log("Entered");
    let yTubeScript = document.createElement("script");
    yTubeScript.async = true;
    yTubeScript.defer = true;
    yTubeScript.charset = "utf-8";
    yTubeScript.src = "https://apps.elfsight.com/p/platform.js";
    document.querySelector("#ytube").appendChild(yTubeScript);
  },
  beforeRouteLeave(_to, _from, next) {
    var elem = (document.querySelector("#ytube").innerHTML = "");
    next();
  }
};
</script>

<style scoped>
  .loader-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
  }

  .loader {
    margin-top: calc(100vh / 3);
  }

  @keyframes hide {
    from {
      opacity: 1;
      transform: scale(1)
    }
    to {
      opacity: 0;
      transform: scale(0.7)
    }
  }
</style>
